<!DOCTYPE html>
<html>
<head>
    <title>TicTacToe</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <style>body {text-align: center;font-family: Helvetica, sans-serif;}.game {display: flex;justify-content: center;}.square {background: #fff;border: 1px solid #999;float: left;font-size: 34px;font-weight: bold;line-height: 44px;height: 44px;margin-right: -1px;margin-top: -1px;padding: 0;text-align: center;width: 44px;}.board-row:after {clear: both;content: '';display: table;}</style>
</head>
<body>
    <div id="game-canvas">
        <h1>Tic-Tac-Toe</h1>
        {{if .Winner}}
        <p>Winner: {{.Winner}}</p>
        {{else}}
        <p>Player's turn : {{.PlayerTurn}}</p>
        {{end}}

        <div class="game">  
            <div class="board" id="game-board" style="pointer-events: none;">
                {{$Game := .}}
                {{range $i, $row := .Board}}
                <div class="board-row">
                    {{range $j, $cell := $row}}
                    <!-- button GET via AJAX -->
                    <button class="square"
                        hx-get="/web/player/{{$Game.PlayerTurn}}/move?row={{$i}}&col={{$j}}"
                        hx-swap="outerHTML"
                        hx-target="#game-canvas">
                            {{if $cell}}
                                {{$cell}}
                            {{end}}
                    </button>
                    {{end}}
                </div>
                {{end}}
            </div>
        </div>

        <br>
        <!-- button DELETE via AJAX -->
        <button hx-delete="/web/reset" hx-swap="outerHTML" hx-target="#game-canvas">Reset</button>

        <!-- Polling /web/updates for new moves -->
        <div hx-get="/web/updates?lastUpdate={{$Game.CreatedAt}}" 
            hx-on::before-request="checkPlayerTurn('{{$Game.PlayerTurn}}')"
            hx-trigger="every 0.5s"
            hx-swap="innerHTML" 
            hx-target="#game-canvas"> 
        </div>
    </div>

    <script>
        var store = localStorage.getItem('xAo');
        var xo = !!store ? JSON.parse(store) : {id: "-1", ts: `${new Date().getTime()}`};
        window.onload = function() {
            fetch(`/web/init?player=${xo.id}&ts=${xo.ts}`)
            .then(response => response.text())
            .then(data => localStorage.setItem('xAo', data))
            //.catch(...);
        };
        function checkPlayerTurn(playerTurn) {
            var gameSquare = document.getElementById('game-board');
            if (playerTurn === xo.id) gameSquare.style.pointerEvents = "auto";
            else gameSquare.style.pointerEvents = "none";
        }
    </script>
</body>
</html>
